html{
margin-left: auto;
    margin-right: auto;
    display: block;
}

h3{
    text-align: right;
    }
    
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#googleSearch {display: inline-block; margin-left: 540px;
    margin-right: auto;}
    #feelingLucky {display: inline-block;}
img, #searchBox {display: block;
    margin-left: auto;
    margin-right: auto;}
        
    img {margin-top: 200px}
        

   
    